@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Great+Vibes&display=swap');

@font-face {
    font-family: 'Feeling Lovely';
    src: url('../fontes/Feeling\ Lovely.ttf');
}

:root {
    --cor0:#12C197;
    --cor1:#997708;
    --cor2:#0073E6;
    --cor3:#c4a5a5;
    --cor4:#003C47;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "BurgeeSpice", sans-serif; 
    --fonte-feeling: 'Feeling' cursiva;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
     font-family: Arial, Helvetica, sans-serif;
}

header {     
    background-image: linear-gradient(to left, var(--cor4), var(--cor2));   
    position: fixed;
    top: 0px;    
    font-family: var(--fonte-padrao);       
    padding: 10px;
    text-align: center;  
    width: 100vw      
}

nav {   
    position: fixed;
    top: 0px;
    padding: 5px; 
    width: 100vw            
}

nav > a > abbr img {
    width: 40px;
    border-radius: 50%;
    box-sizing: border-box;    
}

nav > a abbr img:hover {
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px); /*para mexer o botão zinho*/
    transition: tranform .3s, border .5s; /*Pra transformação aparecder em 1/3 de segundos e a borda em 1s*/
}

main {   
    max-width: 768px;
    height: 100%;    
    margin-top: 45px;   
}

h1 {
   font-family: var(--fonte-padrao);   
    font-size: 2em;
    color: var(--cor3);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.247); 
    margin-top: 0px;
}

h2 {
    color: #0073E6;
    font-size: 1.3em;
    text-align: center;
    margin: auto;
}

h3 {
    color: #0073E6;
    font-size: 0.6em;
   text-align: center;
    margin: auto;    
}

p {
    color: rgba(0, 34, 128, 0.719);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-indent: 30px; 
    text-align: justify;  
}

section.ibira {
    min-width: 280px;
    max-width: 768px;
    display: flex;
    flex-flow: nowrap;   
}

section.ibira > img {
    min-width: 280px;
    max-width: 768px;
    flex-basis: 700px;
    flex-shrink: 1; /* Pode crescer */
    flex-grow: 1;   /* Pode encilher */ 
}

section.guararema {
  border: 1px solid black; 
}

div.guararema img {
    min-width: 284px;
    max-width: 384px;
    margin-top: 10px;
    box-shadow: 0px 0px 7px black;
    text-align: center;    
}

section.cabreuva {
    background-color: rgba(60, 255, 0, 0.637);
    text-align: center;
    max-width: 768px;
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
}

div.cabreuva img {
    min-width: 284px;
    max-width: 384px;
    margin-top: 10px;
    box-shadow: 0px 0px 7px black;
    text-align: center;    
}

section.ilhacomp {
     background-color: rgba(150, 120, 23, 0.637);
    text-align: center;
    max-width: 768px;
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
}

div.ilhacomp img {
    min-width: 284px;
    max-width: 384px;
    margin-top: 10px;
    box-shadow: 0px 0px 7px black;
    text-align: center;
}


article {
    background-image: linear-gradient(to left, #99770842, #c4a5a527);
    width: 100%;   
    margin-left: 0px;
    margin-top: 10px;     
}

article > img {
    min-width: 284px;
    max-width: 384px;
    margin-top: 15px;
    box-shadow: 0px 0px 7px black;
    text-align: center;    
}
 
article > p {
    margin-left: 10px;
}

section.aleatoria {
    max-width: 768px;
    display: flex;
    flex-flow: row wrap;    
}

div.foto {
    background-color: #7eb2e615;
    max-width: 768px;
    display: flex;
    flex-flow: row wrap;
}

div.arnaldo img {
    width: 160px;
    padding: 5px;
    transition: transform 0.5s ease-in-out;
    margin-left: 20px;
    margin-top: 10px;
    box-shadow: 0px 0px 7px black;    
}

div.arnaldo img:hover {
    transform: scale(1.2);
}

div.isabel img {
    width: 160px;
    padding: 5px;
    transition: transform 0.5s ease-in-out;
    margin-left: 5px;
    margin-top: 10px;
    box-shadow: 0px 0px 7px black;
}

div.isabel img:hover {
    transform: rotate(360deg);
}

div.liliane {
    max-width: 768px;
    display: flex;
    flex-flow: row wrap; 
}

div.li img {
    width: 160px;
    padding: 5px;
    margin-left: 20px;
    margin-top: 10px;
    box-shadow: 0px 0px 7px black;
}

div.li2 img {
    width: 160px;
    padding: 5px;
    transition: transform 0.5s ease-in-out;
    margin-left: 5px;
    margin-top: 10px;
    box-shadow: 0px 0px 7px black;    
}
div.video {
    width: 384px;
}

div.video video {
    min-width: 284px;
    max-width: 384px;
    margin-top: 10px;
    box-shadow: 0px 0px 7px black;
    text-align: center; 
}

section.atibaia {
    background-color: rgba(60, 255, 0, 0.247);
    text-align: center;
    max-width: 768px;
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
}

div.atibaia img {
    min-width: 284px;
    max-width: 384px;
    margin-top: 15px;
    box-shadow: 0px 0px 7px black;
    text-align: center;
}

section.ubatuba {
    background-color: rgba(117, 156, 11, 0.507);
    text-align: center;
    max-width: 768px;
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;    
}

div.solevida img {
     max-width: 384px;
    margin-top: 10px;
    box-shadow: 0px 0px 7px black;
    text-align: center;
}

div.recente > img {
    max-width: 384px;
    margin-top: 10px;
    box-shadow: 0px 0px 7px black;
    text-align: center;    
}

div.img {
    min-width: 284px;
    max-width: 384px;
    margin-top: 15px;
    box-shadow: 0px 0px 7px black;
    text-align: center;
}

div.grid-ubt {
    text-align: center;
    max-width: 768px;
    margin-top: 10px;
    border: 2px solid blue;

}

div.cachoeira img {
    min-width: 142px;
    max-width: 172px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px black;
    text-align: center;  
}
--------------------------------------------------------
.grid-ubt {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
    max-width: 1000px;
    margin: 0px;
  }

.grid-ubt img {
   width: 95%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    margin-left: 10px;
  }
  
  .grid-ubt img:hover {
    transform: scale(1.05);
  }
---------------------------------------------------
footer {
    background-image: linear-gradient(to left, var(--cor4), var(--cor2));
    font-family: var(--fonte-destaque); 
    text-align: center; 
}

