@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Great+Vibes&display=swap');

@font-face {
    font-family: 'Feeling Lovely';
    src: url('../fontes/Feeling\ Lovely.ttf');
}

:root {
    --cor0:#12C197;
    --cor1:#997708;
    --cor2:#0073E6;
    --cor3:#c4a5a5;
    --cor4:#003C47;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "BurgeeSpice", sans-serif; 
    --fonte-feeling: 'Feeling' cursiva;
}

header {
    background-image: linear-gradient(to left, rgba(63, 4, 4, 0.925), rgba(255, 255, 0, 0.473), rgba(0, 128, 0, 0.438));
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-top: -8px;
    text-align: center;
}

nav {   
    position: fixed;
    top: 0px;
    padding: 5px; 
    width: 100vw            
}

nav > a > abbr img {
    width: 30px;
    border-radius: 50%;
    box-sizing: border-box;    
}

nav > a abbr img:hover {
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px); /*para mexer o botão zinho*/
    transition: tranform .3s, border .5s; /*Pra transformação aparecder em 1/3 de segundos e a borda em 1s*/
}

h1 {
    font-family: var(--fonte-padrao);   
    font-size: 2em;
    color: var(--cor3);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.247); 
    margin-top: 0px;
}

h2 {
    font-family:var(--fonte-padrao);
    color: var(--cor1);
    text-align: center;
}

h3 {
    font-size: 0.6em;
    margin-top: 10px;
    color: rgba(5, 25, 207, 0.527); 
    text-align: center;  
}

p {
    font-family: var(--fonte-destaque);
    font-size: 0.8em;
    color: var(--cor2);
    text-align: center;
}

.ibira {
    display: flex;
    flex-wrap: wrap;         /* permite quebrar linha */
    justify-content: center; /* centraliza os itens */
    padding: 0px;
}

.ibira img {
    width: 100%;
    height: 100%;
    margin-top: -21px;

}

.guararema {
    display: flex;
    flex-wrap: wrap;         /* permite quebrar linha */
    gap: 10px;               /* espaço entre os itens */
    justify-content: center; /* centraliza os itens */
    padding: 0px;
}    

.guarar {
    width: 450px;            /* tamanho de cada card */
    text-align: center;
}

.guarar img {
    width: 100%;
    height: auto;
    border-radius: 8px;      /* opcional */
    box-shadow: 2px 2px rgba(5, 25, 207, 0.527);
}

.cabreuva {
    display: flex;
    flex-wrap: wrap;         
    gap: 10px;               
    justify-content: center; 
    padding: 0px;
}

.cabre {
    width: 200px;            /* tamanho de cada card */
    text-align: center;
}

.cabre img {
    width: 100%;
    height: auto; 
}

.ilha {
   display: flex;
    flex-wrap: wrap;         
    gap: 10px;               
    justify-content: center; 
    padding: 0px;  
    background-color: rgba(127, 255, 212, 0.596);
}

.comprida {
     width: 350px;           
}

.comprida img {
   width: 100%;
    height: auto;
    border-radius: 10px;      
    box-shadow: 12px 2px rgba(5, 207, 113, 0.527); 
}

.atibaia {
    display: flex;
    flex-wrap: wrap;         /* permite quebrar linha */
    gap: 10px;               /* espaço entre os itens */
    justify-content: center; /* centraliza os itens */
    padding: 20px;
    
}

.atb {
    width: 400px;            /* tamanho de cada card */
    text-align: center;
}

.atb img {
    width: 100%;
    height: auto;
    border-radius: 8px;      /* opcional */
    
}

.solevida img {
    width: 100%;
    height: auto;
    border-radius: 8px;      /* opcional */
}

.ubatuba {
   display: flex;
    flex-wrap: wrap;         /* permite quebrar linha */
    gap: 10px;               /* espaço entre os itens */
    justify-content: center; /* centraliza os itens */
    padding: 0px;
}

.recente img {
    width: 300px;
    height: auto;
    border-radius: 0px;
     box-shadow: 12px 8px 5px rgba(5, 207, 113, 0.527); 
} 

.cachoeira {
    display: flex;
    flex-wrap: wrap;         /* permite quebrar linha */
    gap: 10px;               /* espaço entre os itens */
    justify-content: center; /* centraliza os itens */
    padding: 0px; 
}

.antiga {
     width: 150px;            /* tamanho de cada card */
    text-align: center;
}

.antiga img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
/*============================== Quando cheguei em São Paulo ====================================*/

article {
      width: 100%;   
    margin-left: 0px;
    margin-top: 10px;     
}

article > img {
    min-width: 284px;
    max-width: 384px;
    margin-top: 15px;
    box-shadow: 0px 0px 7px black;
    text-align: center;    
}
 
article > p {
    margin-left: 10px;
}

section.aleatoria {
    max-width: 768px;
    display: flex;
    flex-flow: row wrap;    
}

div.foto {
    background-color: #7eb2e615;
    max-width: 768px;
    display: flex;
    flex-flow: row wrap;
}

div.arnaldo img {
    width: 160px;
    padding: 5px;
    transition: transform 0.5s ease-in-out;
    margin-left: 20px;
    margin-top: 10px;
    box-shadow: 0px 0px 7px black;    
}

div.arnaldo img:hover {
    transform: scale(1.2);
}

div.isabel img {
    width: 160px;
    padding: 5px;
    transition: transform 0.5s ease-in-out;
    margin-left: 5px;
    margin-top: 10px;
    box-shadow: 0px 0px 7px black;
}

div.isabel img:hover {
    transform: rotate(360deg);
}

div.liliane {
    max-width: 768px;
    display: flex;
    flex-flow: row wrap; 
}

div.li img {
    width: 160px;
    padding: 5px;
    margin-left: 20px;
    margin-top: 10px;
    box-shadow: 0px 0px 7px black;
}

div.li2 img {
    width: 160px;
    padding: 5px;
    transition: transform 0.5s ease-in-out;
    margin-left: 5px;
    margin-top: 10px;
    box-shadow: 0px 0px 7px black;    
}
div.video {
    width: 384px;
}

div.video video {
    min-width: 284px;
    max-width: 384px;
    margin-top: 10px;
    box-shadow: 0px 0px 7px black;
    text-align: center; 
}
/*===================================================================================*/

footer {
    font-family: var(--fonte-padrao);
    font-size: 1em;
    color: var(--cor2);
    text-align: center;
}