@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Great+Vibes&display=swap');

@font-face {
    font-family: 'Feeling Lovely';
    src: url('../fontes/Feeling\ Lovely.ttf');
}

:root {
    --cor0:#12C197;
    --cor1:#997708;
    --cor2:#0073E6;
    --cor3:#006B0C;
    --cor4:#003C47;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "BurgeeSpice", sans-serif; 
    --fonte-feeling: 'Feeling' cursiva;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
}

body {
     font-family: Arial, Helvetica, sans-serif;
}

header {  
    background-color: white;   
    /*background-image: linear-gradient(to left, var(--cor4), var(--cor2));*/
    position: fixed;
    top: 0px;    
    font-family: var(--fonte-padrao); 
    color: rgb(196, 165, 165);  
    padding: 5px;
    text-align: center;  
    width: 100vw;   
    border: 2px solid rgba(0, 0, 255, 0.144);   
}

menu img {
    width: 30px;
    border-radius: 5px;
}

nav { 
    position: fixed;
    top: 15px;
    padding: 5px; 
    width: 130px;           
}

nav > a > abbr img {
    width: 40px;
    border-radius: 50%;
    border: solid rgba(0, 0, 0, 0.096); 
    box-sizing: border-box;
    
}
nav > a abbr img:hover {
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-2px, -2px); /*para mexer o botão zinho*/
    transition: tranform .2s, border .3s; /*Pra transformação aparecder em 1/3 de segundos e a borda em 1s*/
}

h1 {
    font-family: var(--fonte-feeling);
    font-size: 2.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.247);
}

h2 {
    font-family: var(--fonte01padrão);
    font-size: 2em;
}

h3 {
    font-size: 0.2em;   
    color: #0073E6;    
}

div {
   margin: 0px;
   display: block;
   display: flex;
   flex-flow: row wrap;
   justify-content: baseline;
} 

div.img {
   /* background-color: red;*/
}

div > a > abbr > img {    
    margin: 0px;
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
    width: 58px;    
}

div > a abbr img:hover {
    border: 1px solid rgba(255, 255, 255, 0.637);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);    
}

.ce {
  width: 38px;
  height: 30px;
  border-radius: 20px; 
  margin: 10px; 
  padding: 10px;
}

.sp {
  width: 38px;
  height: 30px;
  border-radius: 20px; 
  margin: 10px; 
  padding: 10px;
}

.pr {
  width: 38px;
  height: 30px;
  border-radius: 20px; 
  margin: 10px; 
  padding: 10px; 
}

.rj {
  width: 38px;
  height: 30px;
  border-radius: 20px; 
  margin: 10px; 
  padding: 10px;
}

.rn {
  width: 38px;
  height: 30px;
  border-radius: 20px; 
  margin: 10px; 
  padding: 10px;
}

.mg {
  width: 38px;
  height: 30px;
  border-radius: 20px; 
  margin: 10px; 
  padding: 10px;
}

.br {
  width: 38px;
  height: 30px;
  border-radius: 20px; 
  margin: 10px; 
  padding: 10px;
}

.pb {
  width: 38px;
  height: 30px;
  border-radius: 20px; 
  margin: 10px; 
  padding: 10px;
}

.ms {
  width: 38px;
  height: 30px;
  border-radius: 20px; 
  margin: 10px; 
  padding: 10px;
}

.rs {
  width: 38px;
  height: 30px;
  border-radius: 20px; 
  margin: 10px; 
  padding: 10px;
}

.sc {
  width: 38px;
  height: 30px;
  border-radius: 20px; 
  margin: 10px; 
  padding: 10px;
}

article.clicar {
    background-image: linear-gradient(to left, var(--cor4), var(--cor2));
    width: 98vw;
    text-align: center;
    text-shadow: 2px 1px 5px black;
    color: rgb(196, 165, 165);
    border-radius: 5px;
    margin-top: 20px;
}



main { 
    width: 100vw;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;    
    padding: 0px;
     
}

section#img {    
    background-image: url('../imagens/estrada.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;  
}

p#img {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    width: 250px;
    height: 300px;
    padding: 30px;
    margin-top: 30px;
    margin-left: 40px;
}

section#img2 {
    background-image: url('../imagens/paraty.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;  
}

p#img2 {
    background-color: rgba(0, 0, 0, 0.103);
    color: white;
    width: 250px;
    height: 150px;
    padding: 30px;
    margin-top: 30px;
    margin-left: 40px;
}

section.lago {
    background-image: url(../imagens/capt-m.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;  
    
}

p.lago {
    color: white;
    width: 250px;
    height: 150px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 45px;   
}

footer {
   /* background-image: linear-gradient(to left, var(--cor4), var(--cor2)); */
    font-family: var(--fonte-destaque); 
    text-align: center; 
    color: rgb(196, 165, 165);
    margin-top: 10px;
    padding: 5px; 
      
}

